players/
players/player0.txt
players/player1.txt
players/player7.txt
players/player2.txt
players/player3.txt
players/player4.txt
players/player5.txt
players/player6.txt
.vscode/settings.json
.vscode/launch.json
rawgameboard.txt
rnnOutput.txt
rnnOutput2.txt
__pycache__/TreeModel.cpython-37.pyc
num11
num12
num21
num22
num31
num32
num41
num42
num51
num52
num61
num62
playerModel1.txt
playerModel2.txt
playerModel1
playerModel2
__pycache__/TreeModel.cpython-37.pyc
